//- b-navbar
-
	var navbarData = 
		[
			{
				brand: "Yeti Agency",
				names: ["One", "Two"],				
				position: "justify-content-start"
			},
			{
				names: ["Three", "Four", "Five", "Six"],
				position: "justify-content-end"
			}
		]
//- b-intro
-
	var introData = 
		{
			title: "Changing the World Through Design",
			text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.",
			btns: 
				[
					{	
						value: "Learn More", 
						class: "btn-lg btn-primary"
					}, 
					{
						value: "Learn Less", 
						class: "btn-lg btn-outline-primary"
					}
				]
		}
//- b-about
-
	var aboutUs =
		{
			title: "Our Agency, our selves.",
			text: "Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor.",
			img: "http://placehold.it/750x350"
		}
//- b-achievements
-
	var ourTools =
		[
			{
				title: "Photoshop",
				text: "Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna."
			},
			{
				title: "Javascript",
				text: "Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna."
			},
			{
				title: "Marketing",
				text: "Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna."
			},
			
		]
//- b-works
-
	var projects =
		[
			{
				num:"28",
				work:"Websites"
			},
			{
				num:"43",
				work:"Apps"
			},
			{
				num:"95",
				work:"Adds"
			},
			{
				num:"59",
				work:"Cakes"
			},
			{
				num:"18",
				work:"Logos"
			},

		]
//- b-footer
- var footerData = ["One", "Two", "Three", "Four"]