mixin b-achievements(data)
	hr
	.achievements
		ul.nav.nav-pills.flex-column.flex-sm-row.nav-fill
			each item in data
				li.nav-item.text-left.text-sm-center
					a(href="#").nav-link
						h2= item.num
						span= item.work
	hr