mixin b-navbar(data)
	header.header
		nav.navbar.navbar-light.bg-light
			each nav in data
				ul.nav(class= nav.position)
					if nav.brand
						a(href='#').navbar-brand= nav.brand  
					each item in nav.names
						li.nav-item
							a(href='#').nav-link.text-info= item