extends root

block styles
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	meta(content="initial-scale=1.0", name="viewport")
	link(rel="stylesheet" href=asset("styles.css"))

block scripts
	script(src=asset("main.js"))

block main
	block content


