include ../globals/common
include ../globals/data

block params
	- var pageTitle = "Emails"
   
doctype html
html
	head
		title= pageTitle
		block meta
		block styles
	body
		block main
		block scripts